<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>StudentApp</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>searchServlet</servlet-name>
    <servlet-class>edu.jspiders.studentapp.servlets.SearchStudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>searchServlet</servlet-name>
    <url-pattern>/search</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>registerServlet</servlet-name>
    <servlet-class>edu.jspiders.studentapp.servlets.RegisterStudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>registerServlet</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>loginServlet</servlet-name>
    <servlet-class>edu.jspiders.studentapp.servlets.LoginStudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>displayAllServlet</servlet-name>
    <servlet-class>edu.jspiders.studentapp.servlets.DisplayAllStudentsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>displayAllServlet</servlet-name>
    <url-pattern>/allStudents</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>displayAllServletbasedOnrank</servlet-name>
    <servlet-class>edu.jspiders.studentapp.servlets.DisplayStudentsBasedOnRankServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>displayAllServletbasedOnrank</servlet-name>
    <url-pattern>/getStudentsBasedOnRank</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdatePasswordServlet</display-name>
    <servlet-name>UpdatePasswordServlet</servlet-name>
    <servlet-class>edu.jspiders.studentapp.servlets.UpdatePasswordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdatePasswordServlet</servlet-name>
    <url-pattern>/UpdatePasswordServlet</url-pattern>
  </servlet-mapping>
</web-app>